.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Month Separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map-default__month-separator {
		display: flex;
		align-items: center;

		&:after {
			background-color: var(--color-border-default);
			content: '';
			display: block;
			flex: auto;
			height: 1px;
			margin-left: 20px;
		}
	}

	.tribe-events-pro-map-default__month-separator-text {
		flex: none;
	}
}
